<!--div>
    <nav md-tab-nav-bar>
        <a md-tab-link
            *ngFor="let link of navLinks"
            [routerLink]="link.path"
            routerLinkActive #rla="routerLinkActive"
            [active]="rla.isActive">
            {{link.label}}
        </a>
    </nav>
    <md-input-container>
        <input mdInput placeholder="Search">
    </md-input-container>
    <router-outlet></router-outlet>
    <app-event-spaces></app-event-spaces>
</div-->
<div>
  <md-card class="example-form">
    <md-card-title color="primary">
      Event Space Finder
    </md-card-title>
    <form action="">
      <md-input-container class="example-full-width">
        <input mdInput placeholder="email">
      </md-input-container>
      <md-input-container class="example-full-width">
        <input mdInput placeholder="password">
      </md-input-container>
      <md-card-actions>
        <button md-button color="primary">LOGIN</button>
      </md-card-actions>
    </form>
  </md-card>
</div>
